<div class="contaiener-header">
    <div><a href="/" class="logo">Messenger</a></div>
    <div class="container-header-btn">
        <a href="/profile" class="header-btn"><%-userName-%></a>
        <a href="/logout" class="header-btn">Выйти</a>
    </div>
</div>