<div class="container-bar-left">
    <div class="header-bar">
        <div class="container-bar-profile">
            <div class="container-bar-title">Messenger</div>
            <div class="username-bar"><% userName %></div>
            <div class="about-bar"><a href="">Как прошел ваш день?</a></div>
        </div>
    </div>
    <div class="body-container-bar">
        <div class="container-bar-button">
            <a href="" class="btn-bar">Профиль</a>
        </div>
        <div class="container-bar-button">
            <a href="" class="btn-bar">Сообщения</a>
        </div>
        <div class="container-bar-button">
            <a href="" class="btn-bar">Друзья</a>
        </div>
    </div>
    <div class="footer-container-bar">
        <div class="container-bar-button">
            <a href="" class="btn-bar">Настройки</a>
        </div>
        <div class="container-bar-button">
            <a href="" class="btn-bar">Поддержка</a>
        </div>
        <div class="container-bar-button">
            <a href="" class="btn-bar">Изменить тему</a>
        </div>
    </div>
</div>