<div class="container-bar-left">
    <div class="header-bar">
        <div class="body-container-bar">
            <div class="container-bar-title">Messenger</div>
            <div class="footer-content-bar">
                <div class="username-bar"><%-userName-%></div>
                <div class="about-bar"><a href="" class="subtext">Как прошел ваш день?</a></div>
            </div>
        </div>
    </div>
    <div class="body-container-bar">
        <div class="container-bar-button">
            <a href="/profile" class="btn-bar">Профиль</a>
        </div>
        <div class="container-bar-button">
            <a href="/chat" class="btn-bar">Сообщения</a>
        </div>
        <div class="container-bar-button">
            <a href="/friend" class="btn-bar">Друзья</a>
        </div>
    </div>
    <div class="body-container-bar">
        <div class="container-bar-button">
            <a href="" class="btn-bar">Настройки</a>
        </div>
        <div class="container-bar-button">
            <a href="" class="btn-bar">Поддержка</a>
        </div>
        <div class="container-bar-button">
            <a href="" class="btn-bar">Изменить тему</a>
        </div>
    </div>
</div>