<div class="container-bar-right">
    <div class="header-bar">
        <div class="container-bar-profile">
            <div class="container-bar-title">О вас :</div>
            <div class="username-bar">Почта: <% userEmail %></div>
            <div class="username-bar">Телефон: <% userPhone %></div>
        </div>
    </div>
    <div class="body-container-bar">
        <div class="container-bar-button">
            <a href="" class="btn-bar">Добавить статус</a>
        </div>
        <div class="container-bar-button">
            <a href="" class="btn-bar">Изменить данные</a>
        </div>
        <div class="container-bar-button">
            <a href="" class="btn-bar">Начать общение</a>
        </div>
    </div>
</div>