<div class="container-bar-right">
    <div class="header-bar">
        <div class="body-container-bar">
            <div class="container-bar-title">О вас :</div>
            <div class="footer-content-bar">
                <div class="username-bar">Почта: </div>
                <div class="username-bar"><%-userEmail-%></div>
                <div class="username-bar">Телефон: </div>
                <div class="username-bar"><%-userPhone-%></div>
            </div>
        </div>
    </div>
    <div class="body-container-bar">
        <div class="container-bar-button">
            <a href="" class="btn-bar">Добавить статус</a>
        </div>
        <div class="container-bar-button">
            <a href="/profile" class="btn-bar">Изменить данные</a>
        </div>
        <div class="container-bar-button">
            <a href="/friend" class="btn-bar">Начать общение</a>
        </div>
    </div>
</div>