<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/fonts/fonts.css">
</head>
<body>
    <div class="container-body">
        <div><a href="/" class="logo-messenger">MESSENGER</a></div>
        <div class="container-alert-form-login">
            <div class="container-alert-left">
                <h1>Вход</h1>
                <h2>Еще не <a href="/register" class="subtext">зарегистрированны?</a></h2>
                <div class="form-data-user">
                    <form method="post">
                        <div class="form-login">
                            <div class="container-input-form-login">
                                <div class="input-title">Почта :</div>
                                <input type="email" name="email" class="input-form" placeholder="mail@mail.com">
                            </div>
                            <div class="container-input-form-login">
                                <div class="input-title">Пароль :</div>
                                <input type="password" name="password" class="input-form" placeholder="Abc123">
                            </div>
                        </div>
                        <div class="container-form-btn">
                            <input type="submit" value="Войти" class="btn-form-login">
                        </div>
                    </form>
                </div>
            </div>
            <div class="slesh"></div>
            <div class="container-alert-right">
                <h2>Войти через :</h2>
                <div class="btn-social">
                    <a href=""><img class="btn-social-vk" src="/images/icon-social/vk.png" alt="vk"></a>
                    <a href=""><img class="btn-social-google" src="/images/icon-social/google.png" alt="google"></a>
                    <a href=""><img class="btn-social-yandex" src="/images/icon-social/yandex.png" alt="yandex"></a>
                    <a href=""><img class="btn-social-github" src="/images/icon-social/github.png" alt="github"></a>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>