body {
  background-color: #E0CCBE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #747264;
  color: #EEEDEB;
  font-size: 14px;
  width: 800px;
  height: 300px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
}

.container-alert-left {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-right: 10px;
}

.container-alert-right {
  display: flex;
  align-items: flex-start;
  height: 100%;
  flex-direction: column;
  width: 200px;
  margin-left: 30px;
  margin-top: 40px;
}

.slesh {
  background-color: white;
  width: 2px;
  height: 80%;
  margin: 10px;
}

.container-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  flex-direction: column;
}

.logo-messenger {
  font-size: 46px;
  color: #747264;
  margin-bottom: 20px;
  text-decoration: none;
}

.container-alert-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.btn-alert {
  display: flex;
  background-color: #3C3633;
  color: #EEEDEB;
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  transition: 0.2s;
}

.btn-alert:hover {
  background-color: #E0CCBE;
  color: #747264;
  transition: 0.3s;
}

.subtext {
  color: #3C3633;
  text-decoration: none;
}

.btn-social-vk {
  width: 64px;
  transition: 0.2s;
}

.btn-social-vk:hover {
  opacity: 60%;
  transition: 0.2s;
}

.btn-social-yandex {
  width: 64px;
  transition: 0.2s;
}

.btn-social-yandex:hover {
  opacity: 60%;
  transition: 0.2s;
}

.btn-social-google {
  width: 64px;
  transition: 0.2s;
}

.btn-social-google:hover {
  opacity: 60%;
  transition: 0.2s;
}

.btn-social-github {
  width: 64px;
  transition: 0.2s;
}

.btn-social-github:hover {
  opacity: 60%;
  transition: 0.2s;
}

.btn-social {
  width: 150px;
}

.container-alert-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #747264;
  color: #EEEDEB;
  font-size: 14px;
  width: 800px;
  height: 500px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
}

.form-register {
  display: flex;
  flex-direction: row;
}

.btn-form {
  display: flex;
  background-color: #3C3633;
  color: #EEEDEB;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-family: "Montserrat";
  border: none;
  transition: 0.2s;
}

.btn-form:hover {
  background-color: #E0CCBE;
  color: #747264;
  transition: 0.3s;
}

.container-right-form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  background-color: #3C3633;
  border-radius: 15px;
  padding: 10px;
}

.container-left-form {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  background-color: #3C3633;
  border-radius: 15px;
  padding: 10px;
}

.input-form {
  border-radius: 15px;
  font-size: 16px;
  width: 180px;
  padding-left: 10px;
  border: none;
  background-color: #E0CCBE;
  font-family: "Montserrat";
  color: #3C3633;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}

.container-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-alert-form-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #747264;
  color: #EEEDEB;
  font-size: 14px;
  width: 800px;
  height: 350px;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
}

.container-input-form-login {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  margin-top: 10px;
  background-color: #3C3633;
  border-radius: 15px;
  margin-right: 10px;
}

.form-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-form-login {
  display: flex;
  background-color: #3C3633;
  color: #EEEDEB;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  text-decoration: none;
  font-family: "Montserrat";
  border: none;
  transition: 0.2s;
}

.btn-form-login:hover {
  background-color: #E0CCBE;
  color: #747264;
  transition: 0.3s;
}

.error-message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 400px;
  border: 2px solid black;
  margin-top: 200px;
}

.error-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  display: flex;
  margin-top: -15px;
  justify-content: center;
  align-items: center;
}

.container-bar-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #747264;
  color: #EEEDEB;
  width: 200px;
  height: 550px;
  margin-right: 60px;
  border-radius: 15px;
  padding: 10px;
}

.container-bar-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #747264;
  color: #EEEDEB;
  width: 200px;
  height: 550px;
  margin-left: 60px;
  border-radius: 15px;
  padding: 10px;
}

.body-container-bar {
  display: flex;
  flex-direction: column;
  background-color: #3C3633;
  padding-bottom: 10px;
  border-radius: 15px;
}

.btn-bar {
  display: flex;
  background-color: #E0CCBE;
  border-radius: 10px;
  color: #3C3633;
  font-family: "Montserrat";
  text-decoration: none;
  padding: 5px;
  margin: 10px 10px 0 10px;
  transition: 0.2s;
}

.btn-bar:hover {
  opacity: 70%;
  transition: 0.2s;
}

.container-bar-title {
  margin: 10px;
  font-size: 20px;
}

.footer-content-bar {
  background-color: #E0CCBE;
  color: #3C3633;
  margin: 10px;
  border-radius: 10px;
}

.username-bar {
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about-bar {
  margin: 10px;
}

.about-bar:hover {
  opacity: 70%;
}

.container-body-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container-body-chat {
  display: flex;
  flex-direction: column;
  background-color: #747264;
  color: #EEEDEB;
  width: 980px;
  height: 550px;
  border-radius: 15px;
  padding: 10px;
}

.container-body-main {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.subtext-light {
  color: #E0CCBE;
  text-decoration: none;
}

.body-chat-header {
  display: flex;
  justify-content: center;
  width: 99%;
  background-color: #3C3633;
  font-size: 18px;
  border-radius: 15px;
  padding: 5px;
}

.body-chat-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 22px;
  color: #3C3633;
  background-color: #E0CCBE;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  height: 80%;
}

.addtext {
  color: #747264;
  text-decoration: none;
}

.contaiener-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #747264;
  margin-bottom: 50px;
  width: 99%;
  padding: 10px;
  border-radius: 15px;
  justify-content: space-between;
}

.logo {
  color: #E0CCBE;
  font-family: "Montserrat";
  font-size: 20px;
  text-decoration: none;
  transition: 0.2s;
}

.logo:hover {
  color: #3C3633;
  transition: 0.2s;
}

.container-header-btn {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.header-btn {
  background-color: #E0CCBE;
  color: #3C3633;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.2s;
}

.header-btn:hover {
  opacity: 70%;
  transition: 0.2s;
}

.profile-body {
  display: flex;
  background-color: #747264;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
}

.container-profile-content {
  display: flex;
  background-color: #3C3633;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  color: #E0CCBE;
  margin-bottom: 10px;
  font-size: 18px;
}

.user-card-profile {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.title-body-card-user {
  margin-bottom: 10px;
}

.profile-content-status {
  display: flex;
  flex-direction: row;
  color: #E0CCBE;
}

.avatar-user-img {
  width: 80px;
}

.profile-about {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-around;
}

.btn-add {
  font-size: 18px;
  background-color: #E0CCBE;
  color: #3C3633;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
  transition: 0.2s;
}

.btn-add:hover {
  background-color: #3C3633;
  color: #E0CCBE;
  transition: 0.2s;
}

.container-users {
  display: flex;
  flex-direction: row;
  width: 99%;
  overflow: auto;
}

.user-card-friend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #747264;
  border-radius: 15px;
  padding: 10px;
  color: #E0CCBE;
  margin: 10px;
}

.btn-add-friend {
  background-color: #3C3633;
  color: #E0CCBE;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
  border: none;
  font-family: "Montserrat";
  transition: 0.2s;
}

.btn-add-friend:hover {
  background-color: #E0CCBE;
  color: #3C3633;
  transition: 0.2s;
}

.user-card-friend-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.btn-card-friend {
  margin-top: 5px;
}

.input-link-friend {
  background-color: #747264;
  color: #E0CCBE;
  border: none;
  font-size: 22px;
  font-family: "Montserrat";
  text-decoration: none;
}

.input-link-friend:hover {
  color: #EEEDEB;
}

.container-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.chat-friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  background-color: #747264;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.conteiner-chat-preview {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
  text-decoration: none;
  color: #E0CCBE;
}

.title-chat-prew-header {
  font-size: 20px;
  color: #EEEDEB;
}

.title-chat-prew {
  font-size: 16px;
}

.title-chat-prew-btn {
  width: 100%;
  background-color: #747264;
  color: #E0CCBE;
  border: none;
  font-size: 16px;
  text-align: start;
  cursor: pointer;
}

.btn-redirect-chat {
  width: 100%;
}

.container-send-messenge {
  display: flex;
  flex-direction: row;
  background-color: #3C3633;
  border-radius: 15px;
  padding: 10px;
  width: 98%;
}

.container-messenge {
  height: 92%;
  width: 100%;
  overflow: auto;
}

.input-send-messenge {
  width: 90%;
  background-color: #3C3633;
  color: #E0CCBE;
  border: none;
  font-size: 20px;
}

.input-send-messenge:focus {
  outline: none;
}

.form-send-messenge {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button-send-messenge {
  background-color: #747264;
  color: #E0CCBE;
  border: #747264;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  transition: 0.2s;
}

.button-send-messenge:hover {
  background-color: #E0CCBE;
  color: #3C3633;
  transition: 0.2s;
}

.message-error {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #747264;
  border-radius: 15px;
}

.message-sendler {
  font-size: 18px;
  color: #EEEDEB;
  margin-bottom: 10px;
}

.message-text {
  font-size: 16px;
  color: #E0CCBE;
  margin-bottom: 10px;
  margin-left: 10px;
}

.message-date {
  display: flex;
  font-size: 14px;
  color: #E0CCBE;
  background-color: #3C3633;
  border-radius: 15px;
  padding: 5px;
  width: 60px;
  align-items: center;
  justify-content: center;
}

.container-date {
  display: flex;
  width: 230px;
  justify-content: space-between;
  flex-direction: row;
}

.dell-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3C3633;
  border-radius: 15px;
  color: #EEEDEB;
  border: none;
  font-family: "Montserrat";
  font-size: 14px;
  padding: 5px;
  transition: 0.2s;
}

.dell-btn:hover {
  background-color: red;
  transition: 0.2s;
}

.text {
  color: #EEEDEB;
  text-decoration: none;
}

.text:hover {
  color: #E0CCBE;
}

.input-link {
  border: none;
  background-color: #747264;
  color: #EEEDEB;
  font-family: "Montserrat";
  font-size: 18px;
  margin-left: -3px;
}

.input-link:hover {
  color: #E0CCBE;
}

.message-edit {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container-message-edit {
  display: flex;
  flex-direction: column;
  background-color: #747264;
  border-radius: 15px;
  padding: 10px;
  width: 90%;
}

.container-input-edit {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.message-text-edit {
  display: flex;
  border: none;
  width: 90%;
  background-color: #3C3633;
  padding: 10px;
  border-radius: 15px;
  color: #E0CCBE;
  font-size: 18px;
  font-family: "Montserrat";
}

.message-text-edit:focus {
  outline: none;
}

.btn-edit-message {
  background-color: #3C3633;
  color: #E0CCBE;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  font-size: 16px;
  transition: 0.2s;
}

.btn-edit-message:hover {
  background-color: #E0CCBE;
  color: #3C3633;
  transition: 0.2s;
}

.edit-name-sender {
  margin-bottom: 10px;
}

.edit-input-profile {
  background-color: #E0CCBE;
  color: #3C3633;
  font-family: "Montserrat";
  border-radius: 15px;
  border: none;
  font-size: 16px;
  padding: 10px;
  max-width: 200px;
  margin-left: 10px;
}

.profile-content-status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-add-edit-profile {
  background-color: #3C3633;
  color: #E0CCBE;
  font-size: 16px;
  font-family: "Montserrat";
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s;
}

.btn-add-edit-profile:hover {
  background-color: #E0CCBE;
  color: #3C3633;
  transition: 0.2s;
}

.profile-about-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}/*# sourceMappingURL=index.css.map */