<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/fonts/fonts.css">
</head>
<body>
    <div class="error-message">
        <div class="error-title"><h1>Ошибка</h1></div>
        <div class="error-text"><p>Вы уже зарегистрированы, <a href="/login">попробуйте войти</a></p></div>
        <div class="error-text"><p>Ошиблись в данных? <a href="/register">попробуйте еще раз</a></p></div>
    </div>
</body>
</html>