<div class="body-chat-header">
    <h3>Пользователь :</h3>
</div>
<div class="body-chat-content">
    <div class="container-messenge">

    </div>
    <div class="container-send-messenge">
        <form action="" method="" class="form-send-messenge">
            <input type="text" class="input-send-messenge" placeholder="Введите сообщение...">
            <input type="submit" class="button-send-messenge" value="Отправить">
        </form>
    </div>
</div>