<div class="body-chat-header">
    <h3>Изменение сообщения</h3>
</div>
<div class="body-chat-content">
    <div class="message-edit">
        <div class="container-message-edit">
            <form action="/editmessage" method="post">
                <input type="hidden" name="messageID" value="<%- messageData.id %>">
                <input type="hidden" name="contactEmail" value="<%- messageData.recipient %>">
    
                <div class="edit-name-sender"><%- messageData.sender %></div>
                <div class="container-input-edit">
                    <textarea name="messageText" class="message-text-edit" autocomplete="off"><%- messageData.messagetext %></textarea>
                    <input type="submit" class="btn-edit-message" value="Сохранить">
                </div>
            </form>
        </div>
    </div>
</div>