<div class="body-chat-header">
    <h3>Ваши контакты :</h3>
</div>
<div class="body-chat-content">
    <h3>Все пользователи :</h3>
    <div class="container-users">
        <% listUsers.forEach(listUsers => { %>
            <form action="/addfriend" method="post">
                <div class="user-card-friend">
                    <div class="user-card-friend-left">
                        <div class="friend-img-card">
                            <a href=""><img src="/images/resourse-for-user/avatar.png" width="50px"></a>
                        </div>
                    </div>
                    <div class="user-card-friend-right">
                        <input type="hidden" name="friendId" value="<%= listUsers.id%>">
                        <input type="hidden" name="userID" value="<%= userID%>">
                        <div class="title-card-friend">
                            <%= listUsers.username %> <%= listUsers.usersurname %>
                        </div>
                        <div class="btn-card-friend">
                            <% if(listUsers.email == userEmail) { %>
                            <a href="/profile" class="btn-add-friend">Это вы</a>
                            <% } else { %>
                                <input class="btn-add-friend" type="submit" value="Добавить">
                            <% } %>   
                        </div>
                    </div>
                </div>
            </form>
        <% }) %>
    </div>
</div>