<%
const friends = userFriends.friends;
const friendsArray = JSON.parse(friends);
const friendsArrayLength = friendsArray.length
%>

<div class="body-chat-header">
    <h3>Чаты :</h3>
</div>
<div class="body-chat-content">
    <div class="container-chat">
        <% if(friendsArrayLength == 0) { %>
            <h3>Сдесь както пусто...</h3>
        <% } else { %>
            <% listFriends.forEach(listFriends => { %>
                <div class="chat-friend">
                    <div class="friend-img-card">
                        <img src="/images/resourse-for-user/avatar.png" width="50px">
                    </div>
                    <div class="conteiner-chat-preview">
                        <div class="title-chat-prew-header">
                            <form action="/profilecontact" method="post">
                                <input type="hidden" name="contactID" value="<%= listFriends.id %>">
                                <input type="submit" class="input-link-friend" value="<%= listFriends.username %> <%= listFriends.usersurname %>">
                            </form>
                        </div>
                        <form action="/message" method="post">
                            <div class="btn-redirect-chat">
                                <input type="hidden" name="contactEmail" value="<%- listFriends.email %>">
                                <input type="submit" class="title-chat-prew-btn" value="Написать...">
                            </div>
                        </form>
                    </div>
                </div>
            <% }) %>    
        <% } %>
    </div>
</div>