<div class="body-chat-header">
    <h3>Настройки</h3>
</div>
<div class="body-chat-content">
    <div class="container-btn-settings">
        <a href="/profileedit" class="btn-settings">Изменить профиль</a>
        <a href="/profileedit" class="btn-settings">Добавить статус</a>
        <a href="/friend" class="btn-settings">Список контактов</a>
        <a href="/logout" class="btn-settings">Выйти</a>
    </div>
</div>