<div class="body-chat-header">
    <h3>Добро пожаловать <a href="/" class="subtext-light"><%= userName %></a> 👋</h3>
</div>
<div class="body-chat-content">
    <h3>Давай начнем общение <a href="" class="addtext"> уже сейчас</a> ✉️</h3>
</div>